# Created by venv; see https://docs.python.org/3/library/venv.html
Lib/
.mypy_cache/
Scripts/
.main.py.swp
.database.py.swp
.gitignore.swp
README.md~
.README.md.un~
main.py~
main.py.un~
..gitignore.un~
.gitignore~
__pycache__/
